<h1><%= @phone.contact.name %></h1>

<p><%= @phone.number %> has been saved to <%= @phone.contact.name %></p>

<p><a href="/contacts/<%= @phone.contact.id %>">Go to <%= @phone.contact.name %>'s page</a><p>
<p><a href="/contacts/">View all contacts</a></p>
